# =============================================================================
# Inventario de Hosts para SellYourSaas
# =============================================================================

[masters]
master ansible_host=195.201.216.33 internal_ip=192.168.178.2 ansible_user=root ansible_python_interpreter=/usr/bin/python3 hostname=master.j-cloud.com.mx

[deployment]
deploy ansible_host=91.99.229.240 internal_ip=192.168.178.3 ansible_user=root ansible_python_interpreter=/usr/bin/python3 hostname=deploy.j-cloud.com.mx

# [sellyoursaas:children]
# master
# deploy
# 
# [master:vars]
# server_type=master
# 
# [deploy:vars]
# server_type=deploy
# 
[all:vars]
ansible_ssh_port=22
ansible_become=yes
ansible_become_method=sudo