# File /etc/sellyoursaas.conf

# domain du service
domain=mysaasdomainname.com

{% if is_deploy %}
# If deployment server: url of subdomain for user instances
subdomain=withX.mysaasdomainname.com
{% endif %}

# Set to 1 if this server is the master server and must still have ssh and mysql port open,
# or 2 if the ssh and mysql access are restricted to ips into /etc/sellyoursaas.d/sellyoursaas-allowed-ip[-ssh|-mysql].conf only
masterserver={% if is_master %}1{% else %}0{% endif %}
# Set to 1 if this server host instances for the pool (deployment server) and must have ssh and mysql port open,
# or 2 if the ssh and mysql access are restricted to ips into /etc/sellyoursaas.d/sellyoursaas-allowed-ip[-ssh|-mysql].conf only
instanceserver={% if is_deploy %}1{% else %}0{% endif %}

# Set to 1 if this server hosts a dns for the pool (deployment server)
dnsserver={% if is_deploy %}1{% else %}0{% endif %}

# Set this to 1 or 0 to archive or not the test instances during undeployment (if 0, test are destroyed with no archive step)
archivetestinstances=1

{% if is_deploy %}
# Set to its own IP if it is a deployment server. Keep empty for master only server.
ipserverdeployment=ip.of.deployment.server

# If deployment server: IPs allowed to request a deployment
allowed_hosts=ip.of.master.server
{% endif %}

# email from
emailfrom=noreply@mysaasdomainname.com
# email supervision
emailsupervision=supervision@mysaasdomainname.com

# Set location of the master database
databasehost={% if is_master %}localhost{% else %}ipOfMasterServer{% endif %}
# Set port of the master database (default is 3306)
databaseport=3306
# Set database name of the master server
database=databaseNameOnMasterServer
# Set a credential for an access to the master database (each server can have a different account to access the master database)
databaseuser=sellyoursaas
databasepass=xxxxx

# Option to use a master database on a different server than the master server
# Set location of the deployment database (default is localhost)
#databasehostdeployment=localhost
# Set port of the deployment database (default is 3306)
#databaseportdeployment=3306
# Set credential for the deployment database (if different of master database)
#databaseuserdeployment=sellyoursaas
#databasepassdeployment=xxxxx

# Set compress format (gzip or zstd) (zstd need Ubuntu >= 20 or Debian >= 10)
usecompressformatforarchive=zstd

# Set this to directory where dolibarr repository is installed
dolibarrdir=/home/admin/wwwroot/dolibarr
# Set directory where instances are stored (default is /home/jail/home)
#targetdir=/home/jail/home

# Set directory where backup are stored
backupdir=/mnt/diskbackup/backup
# Set directory where archives of tests instances are stored
archivedirtest=/mnt/diskbackup/archives-test
# Set directory where archives of paid instances are stored
archivedirpaid=/mnt/diskbackup/archives-paid

# Set option to exclude some tables for some instances in backup
#backupignoretables=myinstance.withX.mysellyoursaasdomain.com:table1+table2,all:table3+table4,...
# Set option to use --compression-algorithms=zstd on mysqldump command (required with mysql 8.0.18+)
#backupcompressionalgorithms=zstd
# Can set the frequency of rsync
#backuprsyncdayfrequency=1
# Can set the frequency of sql dump
#backupdumpdayfrequency=1

# Set remote server launcher ip (default is 0.0.0.0)
remoteserverlistenip=0.0.0.0
# Set remote server launcher port (default is 8080)
remoteserverlistenport=8080

remotebackupserver=ip.of.remote.backup.ssh.server
remotebackupuser=admin
remotebackupdir=/mnt/diskbackup

# Option to use different path for dataroot
#olddoldataroot=/home/admin/wwwroot/dolibarr_documents
#newdoldataroot=/new/path/of/documents
# Options to change the directory of vhostfile templates
#templatesdir=/path/of/vhostfile/templates

# Options to change the SSL certificates names in Apache virtualhost
#websslcertificatecrt=with.sellyoursaas.com.crt
#websslcertificatekey=with.sellyoursaas.com.key
#websslcertificateintermediate=with.sellyoursaas.com-intermediate.crt

# Options for Jailkit
#chrootdir=/home/jail/chroot
#privatejailtemplatename=privatejail
#commonjailtemplatename=commonjail
