#########################
# MyAccount Master
#########################

<VirtualHost *:80>
   #php_admin_value sendmail_path "/usr/sbin/sendmail -t -i"
   #php_admin_value mail.force_extra_parameters "-f postmaster@{{ master_server.domain }}"
   #php_admin_value sendmail_path "/usr/sbin/sendmail -t -i -f postmaster@{{ master_server.domain }}"
   php_admin_value open_basedir /tmp/:/home/admin/wwwroot/:/usr/share/GeoIP:/home/admin/tools/

   UseCanonicalName On
   ServerName   myaccount.{{ master_server.domain }}
   ErrorLog     /home/admin/logs/{{ master_server.domain }}_myaccount_error_log
   CustomLog    /home/admin/logs/{{ master_server.domain }}_myaccount_access_log combined

   DocumentRoot /home/admin/wwwroot/dolibarr_sellyoursaas/myaccount

	# To access files of myaccount
   <Directory /home/admin/wwwroot/dolibarr_sellyoursaas/myaccount>
   AllowOverride FileInfo Options
   Options       -Indexes -MultiViews +FollowSymLinks -ExecCGI
   Require all granted
   </Directory>

   # To access images
   <Directory /home/admin/wwwroot/dolibarr_documents>
   AllowOverride FileInfo Options
   Options       -Indexes -MultiViews +FollowSymLinks -ExecCGI
   Require all granted
   </Directory>

   AddOutputFilterByType DEFLATE text/html text/plain text/xml
   AddDefaultCharset utf-8

   #ExpiresActive On
   #ExpiresByType image/x-icon A2592000
   #ExpiresByType image/gif A2592000
   #ExpiresByType image/png A2592000
   #ExpiresByType image/jpeg A2592000
   #ExpiresByType text/css A2592000
   #ExpiresByType text/javascript A2592000
   #ExpiresByType application/x-javascript A2592000
   #ExpiresByType application/javascript A2592000

#RewriteEngine On
#RewriteRule !^/maintenance.php https://%{SERVER_NAME}/maintenance.php?instance=myaccount [R,L]

RewriteEngine on
RewriteCond %{SERVER_NAME} =myaccount.{{ master_server.domain }}
RewriteRule ^ https://%{SERVER_NAME}%{REQUEST_URI} [END,NE,R=permanent]
</VirtualHost>
